*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(24, 23, 23);
}

.fizz-particle{
  position: absolute;
  top: var(--offset-y);
  left: var(--offset-x);
  background-color: red;
  width: var(--particle-w);
  height: var(--particle-h);
  border-radius: 50%;
  opacity: 0.75;
  animation-name: fizz;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes fizz{
  0%{
      transform: translate(0,0);
      background-color: #669f2e;
  }

  5%{
      transform: translate(-2%, -10%);
      background-color: #391979;
  }

  10%{
      transform: translate(2%, -35%);
      background-color: #9c5961;
  }

  35%{
      transform: translate(0, -5%);
      background-color: #B4E4FF;
  }


  50%{
      transform: translate(5%, -50%);
      background-color: #82CD47;
  }

  75%{
      transform: translate(7%, -75%);
      background-color: #a32187;
  }

  100%{
      transform: translate(0, -100%);
      background-color: #F0FF42;
  }
}